.uppercase {
    text-transform: uppercase;
}

.text-14 {
    font-size: 1.4rem;
    line-height: 1.2;
}

.text-big {
    font-weight: 700;
    font-size: 1.8rem;
}

.text-silver {
    color: $silver;
}

.text-purple {
    color: $purple;
}

.text-middle {
    font-weight: 500;
    font-size: 1.6rem;
}

.text-small {
    font-size: 12px;
}