@import 'control-buttons';
@import 'data';
@import 'status-header';

.aladin {
    $bottom-nav-h: 94px;
    overflow: hidden;

    z-index: $low;
    opacity: 0;
    transition: opacity .3s ease;

    .hide-hero & {
        opacity: 1;
    }

    &__bottom-nav {
        box-sizing: border-box;
        height: $bottom-nav-h;
        left: 0;
        bottom: 0;
        padding: 16px 36px 0 36px;
        @include opaque-bg(top);
        @include prefixer(transition, all .25s ease-in, webkit);
        @include prefixer(transform, translateY($bottom-nav-h), webkit ms);
    }

    &__controls {
        top: $header-h;
        bottom: $bottom-nav-h;
        @include prefixer(transition, all .25s ease-in .15s, webkit);
        @include prefixer(transform, translateX($bottom-nav-h * -1), webkit ms);

        .vp-middle__content {
            padding-left: $base-spacing;
        }

    }

    &--show {

        .aladin__bottom-nav {
            @include prefixer(transform, translateY(0), webkit ms);
        }

        .aladin__controls {
            @include prefixer(transform, translateX(0), webkit ms);
        }

        .dish__label {
            opacity: 1;
            @include prefixer(transform, translateY(0), webkit ms);
        }

    }

}
