<%- include('aladin/container') -%>
<!-- TODO: Only render this if the user has not clicked the 'Show me how' button, detect cookie from backend -->
<% if(clickedHero !== '1') { %>
<div class="home-hero abs abs--full vp-middle header-offset" id="js-home-hero">
    <article class="home-hero__content vp-middle__content uppercase">
        <h1 class="home-hero__title">In every 90 seconds</h1>

        <p class="home-hero__lead hide-till-anim">
            A new planet is being searched for signals of E.T. by our telescope
        </p>

        <button type="button"
                id="js-hide-home-hero"
                class="button button--cta hide-till-anim">
            Show me how
        </button>
    </article>
</div>
<% } %>
  