<article class="hero hero--no-min-h header-offset">
    <h1 class="hero__title uppercase">
        What is SETI?
    </h1>
    <p class="hero__lead uppercase">This site follows the radio signal search at the Allen Telescope Array.</p>

    <div class="timeline timeline--top">
        <span class="timeline__point"></span>
        <div class="timeline__half timeline__half--text timeline__half--bleed-bg-mobile">
            <div class="copy">
                <p>For 12 hours a day we are searching the galaxy for radio
signals with our 42 dish array.</p>

<p>You can follow along, see what we are observing, and be
a part of the search</p>

<p>This site is for the interested public to keep abreast of our ET
signal search effort. Also, this site is designed to be useful for the ATA operation team members. </p>
            </div>
        </div>
        <div class="timeline__half timeline__half--image">
            <picture>
                <source srcset="i/telescopes-1-big.jpg" media="(min-width: 413px)">
                <source srcset="i/telescopes-1-small.jpg" media="(max-width: 412px)">
                <img srcset="i/telescopes-1-big.jpg" alt="Telescopes at the Allen Telescope Array, Hat Creek Radio Observatory">
            </picture>
            <span class="timeline__point"></span>
        </div>
    </div>
</article>