<section class="section section--no-bg section--last">
    <div class="timeline timeline--top">
        <div class="timeline__half timeline__half--text">
            <h1 class="section__title">Observing</h1>
            <div class="copy">
                <p>For much of the day you will see we are waiting for observing to start.
                    As explained above, the schedule is subject to change at any time, so pay attention.
                </p>
                <p>
                    When observing begins there is a lengthy process of system initialization and calibration.
                    This can take as long as an hour or more.
                </p>
                <p>
                    When the frequency calibrations are complete the observing begins, continuing till the end of
                    the observing period for the day. In the star map on the right you will see in yellow squares the
                    objects being observed
                </p>
            </div>
        </div>
        <div class="timeline__half">
            <div class="star-map-demo" data-map-demo-anim>
                <div class="star-map-demo__observed first">
                    <div class="star-map-demo__circle"></div>
                    <p class="star-map-demo__label">
                        SETI is now searching for E.T. signals
                    </p>
                </div>

                <div class="star-map-demo__observed second">
                    <div class="star-map-demo__circle red"></div>
                    <p class="star-map-demo__label">
                        SETI is now searching for E.T. signals
                    </p>
                </div>

                <div class="star-map-demo__circle medium third"></div>
                <div class="star-map-demo__circle small blue fourth"></div>
                <div class="star-map-demo__circle medium fifth"></div>
                <div class="star-map-demo__circle medium fifth"></div>
                <div class="star-map-demo__circle small red sixth"></div>
                <div class="star-map-demo__circle medium blue seventh"></div>
                <div class="star-map-demo__circle small eight"></div>
                <div class="star-map-demo__circle medium red ninth"></div>
                <div class="star-map-demo__circle small blue tenth"></div>

            </div>
        </div>
    </div>
    <div class="dish dish--hide-overflow"></div>
</section>