<section class="section">
    <div class="timeline timeline--top">
        <div class="timeline__half timeline__half--text">
            <h1 class="section__title">Scheduling</h1>
            <div class="copy copy--grey">
                <p>For 12 hours a day, usually during daylight hours, we are not observing.
                    This time is shared with SRI who operates and maintains the site. see
                    <a href="http://google.com">HCRO</a> for details. The burden of mechanically
                    and operationally maintaning suchsuch a large site has been off loaded to SRI in 
                    exchange for half the time use of the array. This arrangement has turned to work very well
                    for both parties.
                </p>
            </div>
        </div>
        <div class="timeline__half timeline__half--image">
            <picture>
                <source srcset="i/seti-telescope-2-big.jpg" media="(min-width: 413px)">
                <source srcset="i/seti-telescope-2-small.jpg" media="(max-width: 412px)">
                <img srcset="i/seti-telescope-2-big.jpg" alt="Telescopes at the Allen Telescope Array, Hat Creek Radio Observatory">
            </picture>
            <span class="timeline__point"></span>
        </div>
    </div>
    <div class="timeline">
        <div class="timeline__half timeline__half--text">
            <div class="copy copy--purple">
                <p>Note that our exact observing shcedule may be erratic.
                    As stated aove, SRI uses the array during the day. In these cases they allow us to start
                    early or observe the entire day. We usually arrange to observe full time on the weekends.
                    Sometimes we use the entire weekend to observe, but some weekends are spent testing and developing
                    software and systems. Is is impossible to stick to an exact schedule.
                </p>
            </div>
        </div>
        <div class="timeline__half timeline__half--image">
            <picture>
                <source srcset="i/seti-telescope-3-big.jpg" media="(min-width: 413px)">
                <source srcset="i/seti-telescope-3-small.jpg" media="(max-width: 412px)">
                <img srcset="i/seti-telescope-3-big.jpg" alt="Telescopes at the Allen Telescope Array, Hat Creek Radio Observatory">
            </picture>
            <span class="timeline__point"></span>
        </div>
    </div>
</section>