<!-- Client side templating with Handlebars -->
<!-- Only needed on the homepage -->
<script id="home-hero-template" type="text/x-handlebars-template">
    <div class="home-hero abs abs--full vp-middle header-offset" id="js-home-hero">
        <article class="home-hero__content vp-middle__content uppercase" id="js-home-hero-content">
            <h1 class="home-hero__title">In every 90 seconds</h1>

            <p class="home-hero__lead hide-till-anim">
                A new planet is being searched for signals of E.T. by our telescope
            </p>

            <button type="button"
            id="js-hide-home-hero"
            class="button button--cta hide-till-anim">
                Explore
            </button>
        </article>

        {{#if hasVideo}}
        <video class="bg-video" autoplay loop preload="auto" muted data-bg-video>
            <source src="{{videoSource}}.mp4" type="video/mp4">
            <source src="{{videoSource}}.ogv" type="video/ogg">
            <source src="{{videoSource}}.webm" type="video/webm">
        </video>
        {{/if}}

    </div>
</script>

<script id="note-item" type="text/x-handlebars-template">
    <li class="note">
        <span class="note__avatar blk abs" style="background-image: url({{avatarUrl}});"></span>
        <div class="note__body">
            <header class="note__header">
                <strong>Observer notes</strong>&nbsp;&ndash;&nbsp;{{date}}&nbsp;{{time}}
            </header>
            <div class="note__content">
                {{text}}
            </div>
        </div>
    </li>
</script>