<!-- Client side templating with Handlebars -->
<!-- Only needed on the homepage -->
<script id="bg-video" type="text/x-handlebars-template">
    <video class="bg-video" autoplay loop preload="auto" muted data-bg-video>
        <source src="{{videoSource}}.mp4" type="video/mp4">
        <source src="{{videoSource}}.ogv" type="video/ogg">
        <source src="{{videoSource}}.webm" type="video/webm">
    </video>
</script>

<script id="note-item" type="text/x-handlebars-template">
    <li class="note">
        <span class="note__avatar blk abs" style="background-image: url({{avatarUrl}});"></span>
        <div class="note__body">
            <header class="note__header">
                <strong>Observer notes</strong>&nbsp;&ndash;&nbsp;{{date}}&nbsp;{{time}}
            </header>
            <div class="note__content">
                {{text}}
            </div>
        </div>
    </li>
</script>