<a href="/" <% if(pageName === 'home') { %>class="active"<% } %>>Observing now</a>
<a href="what-is-seti" <% if(pageName === 'whatisseti') { %>class="active"<% } %>>What is SETI</a>
<a href="the-telescope" <% if(pageName === 'thetelescope') { %>class="active"<% } %>>The Telescopes</a>
<a href="/" <% if(pageName === 'media') { %>class="active"<% } %>>Progress</a>