<!-- TODO: Add aladin--show class from server-side if 'clickedHero' cookie's value is '1' -->
<!-- TODO: Add 'status-live' when observation is in LIVE mode -->
<!-- TODO: Add the URL of the webservice that recieves the data to 'data-service-url' -->
<div class="aladin abs abs--full status-live" id="js-aladin" data-service-url="data/sample-observation.json">
    <div class="aladin__canvas abs abs--full" id="js-aladin-container"></div>

    <%- include('dish') -%>

    <%- include('controls') -%>

    <!-- Bottom row with observation info -->
    <div class="aladin__bottom-nav abs w-full z-low">
        <!-- Grid for the data -->
        <div class="data">
            <div class="data__cell data__cell--short">
                <h1 class="status-header">
                    Live: <strong>Observing Now</strong>
                </h1>
                <p class="text-14 status-desc">
                    Telescope array searching extraterrestrial radio signs
                </p>
            </div>
            <div class="data__cell">
                <span class="figure">
                    <span class="figure__label" data-tooltip title="Current observation session ID number">
                        Session
                        <i class="icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<rect x="14.5" y="12.6" width="3" height="15.3"/>
<circle cx="16" cy="9.7" r="1.9"/>
</svg>
                        </i>
                    </span>
                    <span class="figure__data">#88.823</span>
                </span>
            </div>
            <div class="data__cell">
                <span class="figure">
                    <span class="figure__label" data-tooltip title="Some title goes here">
                        Location on sky
                        <i class="icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<rect x="14.5" y="12.6" width="3" height="15.3"/>
<circle cx="16" cy="9.7" r="1.9"/>
</svg>
                        </i>
                    </span>
                    <span class="figure__data">Pisces</span>
                </span><span class="figure">
                    <span class="figure__label" data-tooltip title="Some title goes here">
                        Bandwidth
                        <i class="icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<rect x="14.5" y="12.6" width="3" height="15.3"/>
<circle cx="16" cy="9.7" r="1.9"/>
</svg>
                        </i>
                    </span>
                    <span class="figure__data">41.780</span>
                </span><span class="figure">
                    <span class="figure__label" data-tooltip title="Some title goes here">
                        Tuning
                        <i class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<rect x="14.5" y="12.6" width="3" height="15.3"/>
<circle cx="16" cy="9.7" r="1.9"/>
</svg>
                        </i>
                    </span>
                    <span class="figure__data">1452.53 mhz</span>
                </span><span class="figure">
                    <span class="figure__label" data-tooltip title="Some title goes here">
                        Objective
                        <i class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<rect x="14.5" y="12.6" width="3" height="15.3"/>
<circle cx="16" cy="9.7" r="1.9"/>
</svg>
                        </i>
                    </span>
                    <span class="figure__data">First Look</span>
                </span>
            </div>
        </div> <!-- END Grid for the data -->

        <%- include('notes') -%>

        <div class="aladin__progressbar abs">
            <div class="aladin__progressbar__fill" style="width: 30%"></div>
        </div>

    </div> <!-- END Bottom row with observation info -->

</div>