<!-- TODO: Add aladin--show class from server-side if 'clickedHero' cookie's value is '1' -->
<!-- TODO: Add 'status-live' when observation is in LIVE mode -->
<!-- TODO: Add the URL of the webservice that recieves the data to 'data-service-url' -->
<div class="aladin abs abs--full status-live <%= clickedHero === '1' ? 'aladin--show' : '' %>" id="js-aladin" data-service-url="data/sample-observation.json">
    <div class="aladin__canvas abs abs--full" id="js-aladin-container"></div>

    <div class="dish">
        <div class="dish__label abs z-low">
            <span class="bullet blki">Allen Telescope Array</span>
        </div>
    </div>

    <nav class="aladin__controls abs vp-middle z-low">
        <div class="vp-middle__content">
            <button class="control-btn blk" type="button" title="Zoom In" data-zoom-in>
                <i class="icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<polygon points="23.4,15.1 16.9,15.1 16.9,8.6 15.1,8.6 15.1,15.1 8.6,15.1 8.6,16.9 15.1,16.9 15.1,23.4 16.9,23.4 16.9,16.9
	23.4,16.9 "/>
</svg>
                </i>
                <span class="visuallyhidden">Zoom in</span>
            </button>
            <button class="control-btn blk" type="button" title="Zoom Out" data-zoom-out>
                <i class="icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                    <path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
                        S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
                    <rect x="8.6" y="15.1" width="14.7" height="1.7"/>
                    </svg>
                </i>
                <span class="visuallyhidden">Zoom Out</span>
            </button>
            <button class="control-btn blk" type="button" title="Toggle Constellations" data-constellations>
                <i class="icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<path d="M27,11.7c-1.3,0-2.3,1-2.3,2.3v0.1L20.5,15c-0.3-1-1.2-1.6-2.2-1.6s-1.7,0.5-2.1,1.3L9.3,12c0.1-0.3,0.1-0.4,0.1-0.7
	C9.4,10,8.4,9,7.1,9s-2.3,1-2.3,2.3c0,1,0.7,1.9,1.6,2.2l-0.5,3.3c-1.2,0.2-2,1.1-2,2.2c0,1.3,1,2.3,2.3,2.3c0.8,0,1.4-0.3,1.8-1
	l2.1,1c-0.2,0.3-0.3,0.6-0.3,1c0,1.3,1,2.3,2.3,2.3s2.3-1,2.3-2.3c0-0.5-0.2-1-0.4-1.3l3.3-3.5c0.3,0.1,0.5,0.2,0.9,0.2
	c1.2,0,2.2-1,2.3-2.2l4.2-0.9c0.3,0.8,1.2,1.4,2.1,1.4c1.3,0,2.3-1,2.3-2.3S28.3,11.7,27,11.7z M13.6,20.8c-0.3-0.3-0.9-0.4-1.3-0.4
	c-0.6,0-1.1,0.3-1.6,0.6l-2.2-1.1c0.1-0.2,0.1-0.4,0.1-0.6c0-1.1-0.8-2.1-1.9-2.2l0.5-3.2c0.7,0,1.3-0.3,1.7-0.9l7.2,2.7
	c0,0.1,0,0.1,0,0.2c0,0.7,0.3,1.3,0.7,1.6L13.6,20.8z"/>
</svg>
                </i>
                <span class="visuallyhidden">Constellations</span>
            </button>
            <button class="control-btn control-btn--crosshair blk" type="button" title="Go to actual observation" data-set-center>
                <i class="icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                    <path d="M32,15.3h-3.6C28.1,9,23,3.9,16.7,3.6V0h-1.4v3.6C9,3.9,3.9,9,3.6,15.3H0v1.4h3.6C3.9,23,9,28.1,15.3,28.4V32h1.4v-3.6
                        C23,28.1,28.1,23,28.4,16.7H32V15.3z M16.7,27v-2.3h-1.4V27C9.8,26.7,5.3,22.2,5,16.7h2.3v-1.4H5C5.3,9.8,9.8,5.3,15.3,5v2.3h1.4V5
                        c5.5,0.4,9.9,4.8,10.3,10.3h-2.3v1.4H27C26.7,22.2,22.2,26.7,16.7,27z"/>
                    </svg>
                </i>
                <span class="visuallyhidden">Back to center</span>
            </button>
            <button class="control-btn control-btn--fullscreen blk" type="button" title="Switch to fullscreen view" data-fullscreen>
                <i class="icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                        <polygon points="20.3,7.4 20.3,9.1 22.8,9.1 19.1,12.9 20.3,14.1 24.1,10.4 24.1,12.9 25.8,12.9 25.8,7.4 " class="arrow-top"/>
                        <polygon points="12.5,18.7 8.7,22.4 8.7,19.9 7,19.9 7,25.4 12.5,25.4 12.5,23.7 10,23.7 13.7,19.9 " class="arrow-bottom"/>
                        <path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
                            S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
                    </svg>
                </i>
                <span class="visuallyhidden">Go Fullscreen</span>
            </button>
        </div>
    </nav>

    <div class="aladin__bottom-nav abs w-full z-low">
        <div class="data">
            <div class="data__cell data__cell--short">
                <h1 class="status-header">
                    Live: <strong>Observing Now</strong>
                </h1>
                <p class="text-14 status-desc">
                    Telescope array searching extraterrestrial radio signs
                </p>
            </div>
            <div class="data__cell">
                <span class="figure">
                    <span class="figure__label">
                        Session
                        <i class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<rect x="14.5" y="12.6" width="3" height="15.3"/>
<circle cx="16" cy="9.7" r="1.9"/>
</svg>
                        </i>
                    </span>
                    <span class="figure__data">#88.823</span>
                </span>
            </div>
            <div class="data__cell">
                <span class="figure">
                    <span class="figure__label">
                        Location on sky
                        <i class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<rect x="14.5" y="12.6" width="3" height="15.3"/>
<circle cx="16" cy="9.7" r="1.9"/>
</svg>
                        </i>
                    </span>
                    <span class="figure__data">Pisces</span>
                </span><span class="figure">
                    <span class="figure__label">
                        Bandwidth
                        <i class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<rect x="14.5" y="12.6" width="3" height="15.3"/>
<circle cx="16" cy="9.7" r="1.9"/>
</svg>
                        </i>
                    </span>
                    <span class="figure__data">41.780</span>
                </span><span class="figure">
                    <span class="figure__label">
                        Tuning
                        <i class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<rect x="14.5" y="12.6" width="3" height="15.3"/>
<circle cx="16" cy="9.7" r="1.9"/>
</svg>
                        </i>
                    </span>
                    <span class="figure__data">1452.53 mhz</span>
                </span><span class="figure">
                    <span class="figure__label">
                        Objective
                        <i class="icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
<path d="M16,32C7.2,32,0,24.8,0,16S7.2,0,16,0s16,7.2,16,16S24.8,32,16,32z M16,1.7C8.1,1.7,1.7,8.1,1.7,16S8.1,30.3,16,30.3
	S30.3,23.9,30.3,16S23.9,1.7,16,1.7z"/>
<rect x="14.5" y="12.6" width="3" height="15.3"/>
<circle cx="16" cy="9.7" r="1.9"/>
</svg>
                        </i>
                    </span>
                    <span class="figure__data">First Look</span>
                </span>
            </div>
        </div>
    </div>

</div>