<!-- Notes -->
<article class="notes abs" data-notes>
    <header class="notes__title" data-notes-header>
        Notifications
        <i class="icon icon-caret-up">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                    <path d="M21.6,16L21.6,16C21.6,16,21.6,16,21.6,16L12.4,0c0,0,0,0,0,0l-2,1.1c0,0,0,0,0,0L19,16l-8.6,14.8c0,0,0,0,0,0l2,1.1
                        c0,0,0,0,0,0L21.6,16C21.6,16,21.6,16,21.6,16L21.6,16z"/>
                    </svg>
        </i>
    </header>
    <div class="notes__body">
        <ul class="notes__list">
            <li class="note">
                <span class="note__avatar blk abs" style="background-image: url(//placeholdit.imgix.net/~text?txtsize=10&txt=50%C3%9750&w=50&h=50);"></span>
                <div class="note__body">
                    <header class="note__header">
                        <strong>Observer notes</strong>&nbsp;&ndash;&nbsp;2017-02-12&nbsp;02:29:14
                    </header>
                    <div class="note__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A explicabo illum ipsam iure, neque quae ratione vitae! Dignissimos dolorem dolorum, ea, enim exercitationem incidunt, nihil provident quas rerum saepe veritatis.
                    </div>
                </div>
            </li>
            <li class="note">
                <span class="note__avatar blk abs" style="background-image: url(//placeholdit.imgix.net/~text?txtsize=10&txt=50%C3%9750&w=50&h=50);"></span>
                <div class="note__body">
                    <header class="note__header">
                        <strong>Observer notes</strong>&nbsp;&ndash;&nbsp;2017-02-12&nbsp;02:29:14
                    </header>
                    <div class="note__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A explicabo illum ipsam iure, neque quae ratione vitae! Dignissimos dolorem dolorum, ea, enim exercitationem incidunt, nihil provident quas rerum saepe veritatis.
                    </div>
                </div>
            </li>
            <li class="note">
                <span class="note__avatar blk abs" style="background-image: url(//placeholdit.imgix.net/~text?txtsize=10&txt=50%C3%9750&w=50&h=50);"></span>
                <div class="note__body">
                    <header class="note__header">
                        <strong>Observer notes</strong>&nbsp;&ndash;&nbsp;2017-02-12&nbsp;02:29:14
                    </header>
                    <div class="note__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A explicabo illum ipsam iure, neque quae ratione vitae! Dignissimos dolorem dolorum, ea, enim exercitationem incidunt, nihil provident quas rerum saepe veritatis.
                    </div>
                </div>
            </li>
            <li class="note">
                <span class="note__avatar blk abs" style="background-image: url(//placeholdit.imgix.net/~text?txtsize=10&txt=50%C3%9750&w=50&h=50);"></span>
                <div class="note__body">
                    <header class="note__header">
                        <strong>Observer notes</strong>&nbsp;&ndash;&nbsp;2017-02-12&nbsp;02:29:14
                    </header>
                    <div class="note__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A explicabo illum ipsam iure, neque quae ratione vitae! Dignissimos dolorem dolorum, ea, enim exercitationem incidunt, nihil provident quas rerum saepe veritatis.
                    </div>
                </div>
            </li>
            <li class="note">
                <span class="note__avatar blk abs" style="background-image: url(//placeholdit.imgix.net/~text?txtsize=10&txt=50%C3%9750&w=50&h=50);"></span>
                <div class="note__body">
                    <header class="note__header">
                        <strong>Observer notes</strong>&nbsp;&ndash;&nbsp;2017-02-12&nbsp;02:29:14
                    </header>
                    <div class="note__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A explicabo illum ipsam iure, neque quae ratione vitae! Dignissimos dolorem dolorum, ea, enim exercitationem incidunt, nihil provident quas rerum saepe veritatis.
                    </div>
                </div>
            </li>
        </ul>

    </div>
</article> <!-- END Notes -->